<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  {% block head %}{% endblock %}
</head>
<body style="background-color: #219ebc;">
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <span style="color: whitesmoke; font-size:x-large;" class="navbar-text">
        <a href="/" style="text-decoration:none">Task Manager</a>
      </span>
    </div>
  </nav>
  <br>
  {% block body %}{% endblock %}
</body>
</html>