{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
<div class="container mt-3">
  {% if tasks|length < 1 %} <p style="font-size:large;">There are no tasks. Create one below</p>
    {% else %}
    <table class="table table-dark table-hover" style="border-radius: 6px; overflow: hidden;">
      <tr>
        <td>Task</td>
        <td>Added</td>
        <td>Actions</td>
      </tr>
      {% for task in tasks %}
      <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date() }}</td>
        <td>
          <a href="/delete/{{task.id}}">Delete</a>
          <br>
          <a href="/update/{{task.id}}">Update</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
      <div class="mb-3 mt-3">
        <div class="input-group w-auto">
          <input class="form-control" type="text" name="content" id="content" placeholder="Enter task">
          <button style="color: white;" type="submit" class="btn bg-dark">Add Task</button>
        </div>
      </div>

    </form>
</div>
{% endblock %}