{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-text">
      Task Manager
    </span>
  </div>
</nav>
<div class="container mt-3">
  {% if tasks|length < 1 %} <h4>There are no tasks. Create one below</h4>
    {% else %}
    <table class="table table-striped">
      <tr>
        <th>Task</th>
        <th>Added</th>
        <th>Actions</th>
      </tr>
      {% for task in tasks %}
      <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date() }}</td>
        <td>
          <a href="/delete/{{task.id}}">Delete</a>
          <br>
          <a href="/update/{{task.id}}">Update</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
      <div class="mb-3 mt-3">
        <div class="input-group w-auto">
          <input class="form-control" type="text" name="content" id="content" placeholder="Enter task">
          <button type="submit" class="btn btn-primary">Add Task</button>
        </div>
      </div>

    </form>
</div>
{% endblock %}