{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
<div class="container mt-3">
  <p style="font-size:large;">Update Task</p>

  <form action="/update/{{task.id}}" method="POST">
    <div class="mb-3 mt-3">
      <div class="input-group w-auto">
      <input class="form-control" type="text" name="content" id="content" value="{{task.content}}" required>
      <button style="color: white;" type="submit" class="btn bg-dark">Update</button>
    </div>
</div>
</form>
</div>
{% endblock %}